.archivo-black-regular {
    font-family: "Archivo Black", sans-serif !important;
    font-weight: 400;
    font-style: normal;
  }


.group-89,
.group-89 * {
  box-sizing: border-box;
}
.group-89 {
  position: relative;
}
._31940-c-77-dcd-8891-abf-6-b-4938517-e-43-efd-6-fbfdfe-55929-3-epe-0-r-le-auto-custom-1 {
  width: 1466px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.group-88 {
  width: 1324px;
  height: 797px;
  position: static;
}
.group-87 {
  width: 1110px;
  height: 63px;
  position: static;
}
.top {
  width: 1110px;
  height: 26px;
  position: static;
}
.hire-us {
  width: 71px;
  height: 26px;
  position: static;
}
.about-us {
  color: var(--tertiary-5, #ffffff);
  text-align: right;
  font-family: var(--body-2-16-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--body-2-16-font-size, 16px);
  line-height: var(--body-2-16-line-height, 26px);
  font-weight: var(--body-2-16-font-weight, 400);
  position: absolute;
  right: 13.03%;
  left: 82.13%;
  width: 4.84%;
  bottom: 89.45%;
  top: 8.01%;
  height: 2.54%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.company-name {
  width: 46px;
  height: 26px;
  position: static;
}
.menu {
  color: var(--tertiary-5, #ffffff);
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  position: absolute;
  right: 85.61%;
  left: 11.26%;
  width: 3.14%;
  bottom: 89.45%;
  top: 8.01%;
  height: 2.54%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.all-the-project {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 36px;
  line-height: 63px;
  font-weight: 700;
  position: absolute;
  right: 41.27%;
  left: 41.27%;
  width: 17.46%;
  bottom: 88.28%;
  top: 5.57%;
  height: 6.15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-83 {
  width: 417px;
  height: 221px;
  position: static;
}
.project-management {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 63px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 68.55%;
  left: 3%;
  width: 28.44%;
  bottom: 32.81%;
  top: 61.82%;
  height: 5.37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.electric-design {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 63px;
  font-weight: 700;
  position: absolute;
  right: 72.92%;
  left: 7.37%;
  width: 19.71%;
  bottom: 24.71%;
  top: 69.92%;
  height: 5.37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pcb-manufacture {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 63px;
  font-weight: 700;
  position: absolute;
  right: 70.74%;
  left: 5.25%;
  width: 24.01%;
  bottom: 16.6%;
  top: 78.03%;
  height: 5.37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-84 {
  width: 395px;
  height: 221px;
  position: static;
}
.cad-design {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 63px;
  font-weight: 700;
  position: absolute;
  right: 49.39%;
  left: 35.13%;
  width: 15.48%;
  bottom: 32.81%;
  top: 61.82%;
  height: 5.37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arduino-application {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 63px;
  font-weight: 700;
  position: absolute;
  right: 43.66%;
  left: 29.4%;
  width: 26.94%;
  bottom: 24.71%;
  top: 69.92%;
  height: 5.37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cnc-manufacture {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 63px;
  font-weight: 700;
  position: absolute;
  right: 44.82%;
  left: 30.56%;
  width: 24.62%;
  bottom: 16.6%;
  top: 78.03%;
  height: 5.37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-85 {
  width: 258px;
  height: 221px;
  position: static;
}
._3-d-printer {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 63px;
  font-weight: 700;
  position: absolute;
  right: 26.94%;
  left: 59.14%;
  width: 13.92%;
  bottom: 32.81%;
  top: 61.82%;
  height: 5.37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.laser-cutting {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 63px;
  font-weight: 700;
  position: absolute;
  right: 25.1%;
  left: 57.3%;
  width: 17.6%;
  bottom: 24.71%;
  top: 69.92%;
  height: 5.37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cad-design2 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 63px;
  font-weight: 700;
  position: absolute;
  right: 26.13%;
  left: 58.39%;
  width: 15.48%;
  bottom: 16.6%;
  top: 78.03%;
  height: 5.37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-86 {
  width: 258px;
  height: 221px;
  position: static;
}
._3-d-printer2 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 63px;
  font-weight: 700;
  position: absolute;
  right: 8.53%;
  left: 77.56%;
  width: 13.92%;
  bottom: 32.81%;
  top: 61.82%;
  height: 5.37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.laser-cutting2 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 63px;
  font-weight: 700;
  position: absolute;
  right: 6.68%;
  left: 75.72%;
  width: 17.6%;
  bottom: 24.71%;
  top: 69.92%;
  height: 5.37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cad-design3 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 63px;
  font-weight: 700;
  position: absolute;
  right: 7.71%;
  left: 76.81%;
  width: 15.48%;
  bottom: 16.6%;
  top: 78.03%;
  height: 5.37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
    background-image: url("https://cdn.jsdelivr.net/gh/y20522/image-cloud/img/e87b4fc24cfb8028371459e13d12640302da61e814df3b-xQpTjE_fw1200_LE_auto_x2.png"); /* 将这里的 URL 替换为你的背景图片的路径 */
    background-size: cover; /* 背景图像覆盖整个容器 */
    background-repeat: no-repeat; /* 背景图像不重复 */
    background-position: center; /* 背景图像居中 */
    background-attachment: fixed; /* 背景图像在滚动时固定 */
}

.scrolling-text {
    white-space: nowrap;
    overflow: hidden;
}

.scrolling-text p {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 10s linear infinite;
    font-size: 20px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
/* 未被访问的链接 */
a:link {
    color: rgb(206, 206, 206);
  }
  
  /* 用户鼠标悬停 */
  a:hover {
    color: rgb(206, 206, 206);
  }
  
  /* 被访问的链接 */
  a:visited {
    color: rgb(189, 189, 189);
  }
  
  /* 鼠标点击链接 */
  a:active {
    color: rgb(255, 255, 255);
  }
  a {
    text-decoration: none;
  }
  body {
    cursor: none;
  }
  
  .mouse-pointer{
    pointer-events: none;
    position: absolute;
    user-select: none;
    z-index: 9999;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(101, 163, 129, 0.726);
    transition: width 0.3s, height 0.3s;
  }
  
  a:hover .mouse-pointer{
    width: 30px;
    height: 30px;
  }
  .mouse-pointer-large {
    width: 50px; /* 加大尺寸 */
    height: 50px;
    background-color: rgba(31, 165, 125, 0.733); /* 修改颜色为全黑 */
  }
  a {
    cursor: none !important;
  }
  html{
    overflow: hidden;  
 }




