.archivo-black-regular {
  font-family: "Archivo Black", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.group-74,
.group-74 * {
  box-sizing: border-box;
}
.group-74 {
  height: 100vh; /* vh是视窗的高度，100vh就是100%的视窗高度 */
  position: relative;
}

.header-01 {
  width: 1440px;
  height: 860px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.bg {
  position: absolute;
  inset: 0;
}
.bg2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.texts {
  position: absolute;
  inset: 0;
}
.cta {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 20.01%;
  height:5.71%;
  position: absolute;
  right: 0;
  left: 65%;
  bottom: 50%;
  top: 30.29%;
  overflow: hidden;
  z-index :9999;
}
.cta a {
  color: #222222;   /* 灰色的十六进制代码 */
  font-family: 'SourceHanSansCN-Bold-Alphabetic.woff';
  z-index: 9999; 
}

.see-all-projects {
  color: var(--tertiary-1, #4E4E4E);
  text-align: left;
  font-family: var(--body-1-18-font-family, "Poppins-Blod", sans-serif);
  font-size: var(--body-1-18-font-size, 18px);
  line-height: var(--body-1-18-line-height, 28px);
  font-weight: var(--body-1-18-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.shapes {
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  position: static;
}

.ico-24-arrows-arrow-forward {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 146px;
  top: 12px;
  overflow: visible;
}


.we-are-some-digital-storytellar {
  position: absolute;
  top: 13.87%;
  bottom: 73.83%;
  left: 40%;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 63px;
  /* or 98% */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #4E4E4E;
}
.nav-01 {
  width: 1431px;
  height: 506px;
  position: absolute;
  left: 165px;
  top: 50px;
}
.menu {
  position: absolute;
  inset: 0;
}
.top {
  position: absolute;
  inset: 0;
}
.hire-us {
  width: 71px;
  height: 26px;
  position: static;
}
.line-1 {
  border-style: solid;
  border-color: var(--tertiary-1, #4E4E4E);
  border-width: 1px 0 0 0;
  width: 3.77%;
  height: 0%;
  position: absolute;
  right: 22.43%;
  left: 73.79%;
  bottom: 94.86%;
  top: 5.14%;
}
.hire-us2 {
  color: var(--tertiary-1, #4E4E4E);
  text-align: right;
  font-family: var(--body-2-16-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--body-2-16-font-size, 16px);
  line-height: var(--body-2-16-line-height, 26px);
  font-weight: var(--body-2-16-font-weight, 400);
  position: absolute;
  right: 22.43%;
  left: 90.61%;
  width: 10%;
  bottom: 94.86%;
  top: 0%;
  height: 5.14%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hire-us2  a {
  color: #808080;   /* 灰色的十六进制代码 */
  }
.company-name {
  width: 169px;
  height: 26px;
  position: static;
}
.kraft-8 {
  color: var(--tertiary-1, #4E4E4E);
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  position: absolute;
  right: 88.19%;
  left: 0%;
  width: 20%;
  bottom: 94.86%;
  top: 0%;
  height: 5.14%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@font-face {
  font-family: 'Source Han Serif';
  src: url('fonts/SourceHanSansCN-Regular-Alphabetic.woff') format('woff');
  font-weight: Regular;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Serif';
  src: url('fonts/SourceHanSansCN-Bold-Alphabetic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Serif';
  src: url('fonts/SourceHanSansCN-Light-Alphabetic.woff') format('woff');
  font-weight: light;
  font-style: normal;
}

body {
  font-family: 'Source Han Serif', sans-serif;
}

.normal-text { /* 使用常规体 */
  font-weight: normal;
}

.bold-text { /* 使用粗体 */
  font-weight: bold;
}

.light-text { /* 使用细体 */
  font-weight: 200;
}




.background {
  background-image: url("https://cdn.jsdelivr.net/gh/y20522/image-cloud/img/55-ezgif.com-video-to-gif-converter.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

@keyframes animate {
  0% { transform: translateX(0); }
  50% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.ico-24-arrows-arrow-forward {
  animation: animate 2s ease-in-out infinite;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 146px;
  top: 11px;
  overflow: visible;
}

.marquee {
  position: absolute;
  top: 50%;
  left: 0;        
  width: 200%;    
  height: auto;
  display: flex;  
  opacity: 0;
}

.marquee img {
  width: 50%;     /* 元素宽度为视口的一半，保证一次完整动画过程中都有图片在屏幕视口内 */
  height: auto;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50vw);
  }
  50.01% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}


body {
  cursor: none;
}

.mouse-pointer{
  pointer-events: none;
  position: absolute;
  user-select: none;
  z-index: 9999;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(101, 163, 129, 0.726);
  transition: width 0.3s, height 0.3s;
}

a:hover .mouse-pointer{
  width: 30px;
  height: 30px;
}
.mouse-pointer-large {
  width: 50px; /* 加大尺寸 */
  height: 50px;
  background-color: rgba(31, 165, 125, 0.733); /* 修改颜色为全黑 */
}
a {
  cursor: none !important;
}
.slide-in-anim {
  opacity: 0;
  animation: slide-in 2s forwards;
}


@keyframes slide-in {
0% {
  transform: translateY(50px);
  opacity: 0;
}
100% {
  transform: translateY(0);
  opacity: 1;
}
}
.slide-in-anim-slow {
  animation: slide-in 4s forwards; 
}

.slide-in-anim-slowow {
  animation: slide-in 5s forwards; 
}



@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeWrapper {
  pointer-events: none;
}
.fadeWrapper .marquee img {
  pointer-events: auto;
}
.fadeWrapper * {
  pointer-events: auto;
}
.marquee.startAnimation {
  animation: marquee 10s linear infinite;   
}

.fadeWrapper {
  animation: fadein 6s;
}
html{
  overflow: hidden;  
}

/* 基本的滑动菜单样式 */
.slide-menu {
  position: fixed;
  left: -250px; /* 初始时隐藏于视图之外 */
  top: 0;
  width: 250px;
  height: 100%;
  background-color: white; /* 设置背景色为白色 */
  transition: left 0.3s; /* 平滑的过渡效果 */
  display: flex; /* 使用Flexbox布局 */
  flex-direction: column; /* 子元素垂直排列 */
  align-items: start; /* 菜单项左对齐 */
  padding-top: 20px; /* 菜单项距离顶部一定距离 */
}

/* 当菜单打开时应用这些样式 */
.show-menu {
  left: 0; /* 显示侧边菜单 */
}

/* 菜单项样式 */
.slide-menu a {
  text-decoration: none; /* 去除下划线 */
  color: #333; /* 文字颜色，根据需要调整 */
  display: block; /* 每个<a>标签占满一行 */
  margin: 5px 0; /* 菜单项之间的间隔 */
  padding: 10px 20px; /* 菜单项内填充，让文字有足够的空间 */
  transition: background-color 0.3s; /* 鼠标悬浮到菜单项上时的背景颜色平滑过渡效果 */
}

/* 鼠标悬浮到菜单项上时的效果 */
.slide-menu a:hover {
  background-color: #f2f2f2; /* 悬浮效果颜色，根据需要调整 */
}

