/* Figma Styles of your File */
:root {
    /* Colors */
    --primary-1: #4d66ff;
    --primary-2: #ffa900;
    --secondary-1: #89c1c2;
    --secondary-2: #fc9374;
    --secondary-3: #57afff;
    --secondary-4: #876aff;
    --tertiary-1: #151517;
    --tertiary-2: #676767;
    --tertiary-3: #e8e8e8;
    --tertiary-4: #f1f1f1;
    --tertiary-5: #ffffff;
  
    /* Fonts */
    --h1-56-font-family: Poppins-Bold, sans-serif;
    --h1-56-font-size: 56px;
    --h1-56-line-height: 91px;
    --h1-56-font-weight: 700;
    --h1-56-font-style: normal;
    --h2-48-font-family: Poppins-Bold, sans-serif;
    --h2-48-font-size: 48px;
    --h2-48-line-height: 80px;
    --h2-48-font-weight: 700;
    --h2-48-font-style: normal;
    --h3-36-font-family: Poppins-Bold, sans-serif;
    --h3-36-font-size: 36px;
    --h3-36-line-height: 60px;
    --h3-36-font-weight: 700;
    --h3-36-font-style: normal;
    --h4-28-font-family: Poppins-Bold, sans-serif;
    --h4-28-font-size: 28px;
    --h4-28-line-height: 46px;
    --h4-28-font-weight: 700;
    --h4-28-font-style: normal;
    --h5-24-font-family: Poppins-Bold, sans-serif;
    --h5-24-font-size: 24px;
    --h5-24-line-height: 36px;
    --h5-24-font-weight: 700;
    --h5-24-font-style: normal;
    --h6-18-font-family: Poppins-Bold, sans-serif;
    --h6-18-font-size: 18px;
    --h6-18-line-height: 29px;
    --h6-18-font-weight: 700;
    --h6-18-font-style: normal;
    --h7-16-font-family: Poppins-Bold, sans-serif;
    --h7-16-font-size: 16px;
    --h7-16-line-height: 26px;
    --h7-16-font-weight: 700;
    --h7-16-font-style: normal;
    --body-1-18-font-family: Poppins-Regular, sans-serif;
    --body-1-18-font-size: 18px;
    --body-1-18-line-height: 28px;
    --body-1-18-font-weight: 400;
    --body-1-18-font-style: normal;
    --body-2-16-font-family: Poppins-Regular, sans-serif;
    --body-2-16-font-size: 16px;
    --body-2-16-line-height: 26px;
    --body-2-16-font-weight: 400;
    --body-2-16-font-style: normal;
    --body-3-14-font-family: Poppins-Regular, sans-serif;
    --body-3-14-font-size: 14px;
    --body-3-14-line-height: 24px;
    --body-3-14-font-weight: 400;
    --body-3-14-font-style: normal;
    --body-4-12-font-family: Poppins-Regular, sans-serif;
    --body-4-12-font-size: 12px;
    --body-4-12-line-height: 22px;
    --body-4-12-font-weight: 400;
    --body-4-12-font-style: normal;
    --button-1-16-font-family: Poppins-SemiBold, sans-serif;
    --button-1-16-font-size: 16px;
    --button-1-16-line-height: normal;
    --button-1-16-font-weight: 600;
    --button-1-16-font-style: normal;
    --button-2-14-font-family: Poppins-SemiBold, sans-serif;
    --button-2-14-font-size: 14px;
    --button-2-14-line-height: normal;
    --button-2-14-font-weight: 600;
    --button-2-14-font-style: normal;
    --button-3-12-font-family: Poppins-SemiBold, sans-serif;
    --button-3-12-font-size: 12px;
    --button-3-12-line-height: normal;
    --button-3-12-font-weight: 600;
    --button-3-12-font-style: normal;
  
    /* Effects */
    --drop-shadow-box-shadow: 4px 4px 24px 0px rgba(22, 104, 177, 0.09);
    --2-box-shadow: -30px 30px 60px 0px rgba(22, 104, 177, 0.2);
    --3-box-shadow: 10px 30px 60px 0px rgba(201, 201, 201, 0.2);
  }
  